@import 'nib'

body
  margin 0px
  font 13.34 helvetica, arial
  line-height 1.4



#header
  width 100%
  height 100px
  overflow hidden
  text-align right
  background linear-gradient(top, #ffffff, #eeeeee)
  border-bottom solid #aaaaaa 1px


#header #logo
  width 100px
  font-size 80px
  float left
  padding 5px 5px 10px 5px

#account
  float right
  padding 20px 0 10px 0
  background linear-gradient(top, #eeeeff, #ddddee)
  border-radius bottom left 10px, bottom right 10px 


#account *	
  display inline
  margin 20px 10px 10px 0px
  padding-left 10px
  border-left solid #aaaaaa 1px
  color blue

#account #username
  border-left none

#content-body
  width 1000px
  margin -30px auto 0 auto
  padding-bottom 20px
  background white
  border solid #aaaaaa 1px
  border-radius top left 11px, top right 11px, bottom left 11px, bottom right 11px 
  box-shadow(5px 5px 8px #ccc)
  
#navigation
  background #ddddff
  overflow hidden
  padding 10px

#breadcrumb 
  float left

.element
  display inline
  margin 20px 10px 10px 0px
  border-left solid #aaaaaa 1px
  padding-left 10px

#breadcrumb .element
  color black
  font-size 20px


#actions 
  float right

#actions .element
  color blue

#controls
  padding 10px
  overflow hidden
  border-bottom solid #aaaaaa 1px

#views 
  float left

#views .element 
  background #eeeeee
  padding 4px;
  margin: 0px
  border solid #aaaaaa 1px

#views .element.select
  border-radius top left 4px, top right 4px, bottom left 4px, bottom right 4px 
  margin-right 10px
  padding 8px 2px 2px 2px

#views .element.view
  border-radius top left 4px, top right 0px, bottom left 4px, bottom right 0px 

#views .element.tag
  border-radius top left 0px, top right 0px, bottom left 0px, bottom right 0px 
  border-left none

#views .element.archive
  border-left none
  border-radius top left 0px, top right 4px, bottom left 0px, bottom right 4px 


#views .element
  color black

#filters
  float right

#filters .element
  color black
  margin 0px

#filters .element.live
  padding 4px;
  margin-top: 10px
  background #eeeeee
  border solid #aaaaaa 1px
  border-radius top left 4px, top right 0px, bottom left 4px, bottom right 0px 

#filters .element.archived
  padding 4px;
  margin: 0px
  background #eeeeee
  border solid #aaaaaa 1px
  border-left none
  margin-right: 10px
  border-radius top left 0px, top right 4px, bottom left 0px, bottom right 4px 

#records
  padding 0px 10px 0px 0px
  background #eeeeff

.record
  width 100%
  border-bottom 1px solid #aaaaaa
  overflow hidden
  padding-top 10px

.record-ctrl
  float left
  width: 40px

.record-eye
  float left
  margin-top -8px
  width: 40px

.record-time
  float left
  width: 200px

.record-id
  width 100px
  float left

.record-ip 
  width 100px
  float left
 
.record-url 
  width 500px
  float left

.record-duration
  width 50px
  float left

.record-actions
  width 100px
  float left 
    
.element
  border-radius top left 5px, bottom right 10px 



